<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <table>
      <tr>
        <th>Title</th>
        <th>Image</th>
        <th>Description</th>
      </tr>
      <% for (r of recipes) { %>
        <tr>
          <td><%= r.title %></td>
          <td><img src="<%= r.image %>" alt="recipe <%= r.id %>" style="width: 120px; height: 80px; object-fit: cover;" /></td>
          <td><%= r.description %></td>
        </tr>
      <% } %>
    </table>
  </body>
</html>
